{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Home Page</title>{% endblock %}
{% block content %}
		<div id="box_wrapper">
			<section class="intro_section page_mainslider ds">
				<div class="flexslider" data-dots="false">
					<ul class="slides">
						<li>
							<img src="{{ slider_info.0.slide_image.url }}" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer" data-animation="fadeInUp">
													<p class="big grey color_text">
														{{ slider_info.0.header_name }}
														<br>
														<strong class="highlight color_text">{{ slider_info.0.header_name_bold }}</strong>
													</p>
												</div>
												<div class="intro-layer" data-animation="fadeInUp">
													<p class="lightfont color_text">
														{{ slider_info.0.slide_text }}
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<img src="{{ slider_info.1.slide_image.url }}" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer" data-animation="fadeInUp">
													<p class="big grey color_text">
														{{ slider_info.1.header_name }}
														<br>
														<strong class="highlight color_text">{{ slider_info.1.header_name_bold }}</strong>
													</p>
												</div>
												<div class="intro-layer" data-animation="fadeInUp">
													<p class="lightfont color_text">
														{{ slider_info.1.slide_text }}
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<img src="{{ slider_info.2.slide_image.url }}" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-right">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer" data-animation="fadeInUp">
													<p class="big grey color_text">
														{{ slider_info.2.header_name }}
														<br>
														<strong class="highlight color_text">{{ slider_info.2.header_name_bold }}</strong>
													</p>
												</div>
												<div class="intro-layer" data-animation="fadeInUp">
													<p class="lightfont color_text">
														{{ slider_info.2.slide_text }}
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
			<section id="contacts"
				class="ds columns_margin_0 columns_padding_0 table_section table_section_lg overflow-hidden">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-4 text-center" data-animation="fadeInLeft">
							<div class="with_icon_bg with_padding_small with_skew_bg skew_right main_bg_color cs">
								<div class="background-icon-wrap">
									<i class="towyicon-clock background-icon"></i>
								</div>
								<div class="teaser media small-teaser topmargin_0 inline-block">
									<div class="media-left media-middle">
										<div class="teaser_icon main_bg_color with_shadow round size_small">
											<i class="towyicon-clock"></i>
										</div>
									</div>
									<div class="media-body media-middle">
										<h3 class="text-uppercase grey margin_0">
											{{ phone_info.0.time_text }}
										</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 text-center">
							<div class="with_padding_small">
								<div class="teaser">
									<h3 class="text-uppercase highlight big margin_0">
										{{ phone_info.0.number }}
									</h3>
								</div>
							</div>
						</div>
						<div class="col-lg-4 text-center" data-animation="fadeInRight">
							<div class="with_icon_bg with_padding_small with_skew_bg skew_left main_bg_color cs">
								<div class="background-icon-wrap">
									<i class="towyicon-phone background-icon"></i>
								</div>
								<div class="teaser media small-teaser topmargin_0 inline-block">
									<div class="media-left media-middle">
										<div class="teaser_icon main_bg_color with_shadow round size_small">
											<i class="towyicon-phone"></i>
										</div>
									</div>
									<div class="media-body media-middle">
										<h3 class="text-uppercase grey margin_0">
											{{ phone_info.0.info_text }}
										</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="services" class="ls section_padding_top_150 section_padding_bottom_120 columns_margin_0">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="section_header numbered-header">Bizim
								<strong>Xidmətlər</strong>
							</h2>
							<p class="small-text">Xidmətlərimiz aşağıdakılardır</p>
							<hr class="divider_30_3 zebra_bg">
						</div>
					</div>
					<div class="row topmargin_30">
						<div class="col-md-6">
							<div class="with_padding">
								<div class="teaser text-center">
									<img width="81px" height="65" src="{{ our_services.0.icon.url }}" alt="" />
									<h4 class="regular">
										<a href="{% url 'spare_part_app:spare_part_url' %}">{{ our_services.0.name }}</a>
									</h4>
									<p>{{ our_services.0.text }}</p>

								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="with_padding">
								<div class="teaser text-center">
									<img src="{{ our_services.1.icon.url }}" alt="" />
									<h4 class="regular">
										<a href="{% url 'service_app:service_url' %}">{{ our_services.1.name }}</a>

									</h4>
									<p>{{ our_services.1.text }}</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="features"
				class="ds parallax section_counters section_padding_top_130 section_padding_bottom_75 columns_margin_bottom_60">
				<div class="container-fluid">
					<div class="col-md-4 col-sm-6">
						<div class="teaser text-center">
							<div class="teaser_icon highlight size_big">
								<i class="towyicon-star"></i>
							</div>
							<h3 class="counter grey" data-from="0" data-to="{{ experience_info.0.work_experience }}" data-speed="2100">0</h3>
							<p class="lightfont">Iş təcrübəsi</p>
						</div>
					</div>
                    <div class="col-md-4 col-sm-6">
						<div class="teaser text-center">
							<div class="teaser_icon highlight size_big">
								<i class="towyicon-group"></i>
							</div>
							<h3 class="counter grey" data-from="0" data-to="{{ experience_info.0.customer_count }}" data-speed="2100">0</h3>
							<p class="lightfont">Müştəri sayı</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="teaser text-center">
							<div class="teaser_icon highlight size_big">
								<i class="towyicon-truck"></i>
							</div>
							<h3 class="counter grey" data-from="0" data-to="{{ experience_info.0.worker_team_count }}" data-speed="2100">0</h3>
							<p class="lightfont">Servisdəki müştəri sayı</p>
						</div>
					</div>
				</div>
			</section>
			<section id="blog" class="ls section_padding_top_150 section_padding_bottom_130 columns_margin_bottom_20 gallery_index">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="section_header numbered-header">
								<strong>Qaleriya</strong>
							</h2>
							<p class="small-text">hər yerdə, istənilən vaxt</p>
							<hr class="divider_30_3 zebra_bg">
						</div>
					</div>
					<div class="row topmargin_20">
                        {% for g in gallery %}
						<div class="col-md-4 col-sm-6">
							<article class="vertical-item content-padding post format-standard with_border text-center">
								<div class="item-media entry-thumbnail">
									<img src="{{ g.image.url }}" alt="">
									<div class="media-links">
										<a class="abs-link" title="" href="{% url 'gallery_app:gallery_url' %}"></a>
									</div>
								</div>
							</article>
						</div>
						{% endfor %}
					</div>
				</div>
			</section>
			<section class="ds columns_margin_0 columns_padding_0 table_section table_section_lg">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-4 text-center with_skew_bg skew_right main_bg_color cs"
							data-animation="fadeInLeft">
							<div class="with_icon_bg with_padding_small">
								<h3 class="text-uppercase grey margin_0">
									Bizimlə Email
									<strong>vasitəsi ilə əlaqə yarada bilərsiz</strong>
								</h3>
							</div>
						</div>
						<div class="col-lg-4 text-center">
							<div class="with_padding_small">
								<div class="content-justify vertical-center">
									<h3 class="text-uppercase highlight margin_0">
										E-mail ünvanına
										<strong>daxil ol</strong>
									</h3>
									<a href="https://mail.google.com/mail/u/0/#inbox" class="theme_button round_button color1 margin_0">
										<i class="fa fa-envelope" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 text-center with_skew_bg skew_left main_bg_color cs"
							data-animation="fadeInRight">
							<div class="with_icon_bg with_padding_small">
								<i class="towyicon-newspaper background-icon"></i>
								<h3 class="text-uppercase grey margin_0">
									Biz
									<strong>daima sizinləyik</strong>
								</h3>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
{% endblock %}
{% block js %}
    <script src="{% static 'project_static/js/vendor/jquery-jvectormap-2.0.3.min.js' %}"></script>
	<script src="{% static 'project_static/js/vendor/jquery-jvectormap-world-merc.js' %}"></script>
    {% endblock %}