{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Contact</title>{% endblock %}
{% block content %}
    <section class="page_breadcrumbs cs background_cover section_padding_top_40 section_padding_bottom_40">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2>Əlaqə</h2>
							<ol class="breadcrumb">
								<li>
									<a href="{% url 'home_app:home_url' %}">
										Ana Səhifə
									</a>
								</li>
								<li class="active">Əlaqə</li>
							</ol>
						</div>
					</div>
				</div>
			</section>

			<section class="ls section_padding_top_100 section_padding_bottom_75">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<section id="map" class="ls ms">
								<iframe
									src="{{ footer_data.0.google_map_link }}"
									frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
									tabindex="0"></iframe>
							</section>
						</div>
					</div>

					<div class="row topmargin_40">
						<div class="col-sm-4 to_animate" data-animation="pullDown">
							<div class="teaser text-center">
								<div class="teaser_icon highlight size_normal">
									<i class="rt-icon2-phone5"></i>
								</div>
								<p>
									<span class="grey">Phone:</span>{{ footer_data.0.phone_number }}
									<br>
									<span class="grey">Whatsapp:</span>{{ footer_data.0.whatsapp_number }}
								</p>
							</div>
						</div>
						<div class="col-sm-4 to_animate" data-animation="pullDown">
							<a target="_blank" href="{{ footer_data.0.google_map_link }}"
								class="teaser text-center google_link">
								<div class="teaser_icon highlight size_normal">
									<i class="rt-icon2-location2"></i>
								</div>
								<p>
									{{ footer_data.0.my_location }}
								</p>
							</a>
						</div>
						<div class="col-sm-4 to_animate" data-animation="pullDown">
							<div class="teaser text-center">
								<div class="teaser_icon highlight size_normal">
									<i class="rt-icon2-mail"></i>
								</div>
								<p>{{ footer_data.0.email }}</p>
							</div>
						</div>
					</div>

				</div>
			</section>
    {% block js %}
        <script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTwYSMRGuTsmfl2z_zZDStYqMlKtrybxo"></script>
    {% endblock %}
{% endblock %}