{% extends 'base.html' %}
{% load static %}
{% block title %}<title>About</title>{% endblock %}
{% block content %}
    <section class="page_breadcrumbs cs background_cover section_padding_top_40 section_padding_bottom_40">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2>Haqqında</h2>
							<ol class="breadcrumb">
								<li>
									<a href="{% url 'home_app:home_url' %}">
										Ana Səhifə
									</a>
								</li>
								<li class="active">Haqqında</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section id="about"
				class="ls section_padding_top_150 section_padding_bottom_150 table_section table_section_md columns_padding_25 columns_margin_bottom_30">
				<div class="container">
					<div class="row">
						<div class="col-lg-7 col-md-6 text-center text-md-right">
							<img src="{{ all_data.0.image.url }}" alt="" />
						</div>
						<div class="col-lg-5 col-md-6">
							<h2 class="section_header numbered-header">
								<strong>{{ all_data.0.title }}</strong>
							</h2>
							<p class="small-text">{{ all_data.0.description }}</p>
							<hr class="divider_30_3 zebra_bg">
							<p>
								{{ all_data.0.text }}
							</p>
							<div class="inline-block topmargin_10">
								<ul class="list1 checklist grey">
                                    {% for i in choice_datas %}
									<li>
										<strong>{{ i.work_choices }}</strong>
									</li>
                                    {% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}
{% block js %}
    <script src="{% static 'project_static/js/vendor/jquery-jvectormap-2.0.3.min.js' %}"></script>
	<script src="{% static 'project_static/js/vendor/jquery-jvectormap-world-merc.js' %}"></script>
    {% endblock %}