{% extends 'base.html' %}
{% load  static %}
{% block title %}<title>Gallery</title>{% endblock %}
{% block content %}
    <section class="page_breadcrumbs cs background_cover section_padding_top_40 section_padding_bottom_40">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2>Qaleriya</h2>
							<ol class="breadcrumb">
								<li>
									<a href="{% url 'home_app:home_url' %}">
										Ana Səhifə
									</a>
								</li>
								<li class="active">Qaleriya</li>
							</ol>
						</div>
					</div>
				</div>
			</section>

			<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="filters text-center">
								<a href="{% url 'gallery_app:gallery_url' %}" class="selected">Hamısı</a>
                                {% for c in categories %}
								<a href="{% url 'gallery_app:gallery_filter' name=c.category_name %}">{{c.category_name }}</a>
								{% endfor %}
							</div>
							<div class="isotope_container isotope row masonry-layout columns_margin_top_0 columns_margin_bottom_30">
                                {% for i in filter_image %}
								<div class="isotope-item col-lg-6 col-md-6 col-sm-12">
									<div
										class="vertical-item content-padding gallery-extended-item with_border text-center">
										<div class="item-media">
											<img src="{{ i.image.url }}" alt="">
											<div class="media-links">
											</div>
										</div>
									</div>
								</div>
                                {% endfor %}
							</div>
							<div class="row topmargin_20">
								<div class="col-sm-12 text-center">
									<img src="{% static 'project_static/img/loading.png' %}" alt="" class="fa-spin" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}