{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Service</title>{% endblock %}
{% block content %}
    <section class="page_breadcrumbs cs background_cover section_padding_top_40 section_padding_bottom_40">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2>Servis Xidməti</h2>
							<ol class="breadcrumb">
								<li>
									<a href="{% url 'home_app:home_url' %}">
										Ana Səhifə
									</a>
								</li>
								<li class="active">Servis Xidməti</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<section class="ls section_padding_top_150 section_padding_bottom_150">
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-sm-push-1">
							<article class="single-post vertical-item content-padding with_border ">
								<div class="entry-thumbnail item-media">
									<img src="{{ services_data.0.image.url }}" alt="">
								</div>
								<div class="item-content top-zebra-border">
									<header class="entry-header content-justify">
										<h3 class="entry-title">
											{{ services_data.0.title }}
										</h3>
									</header>
									<div class="entry-content">
										<p>
											{{ services_data.0.text_1 }}
										</p>
										<p>
											{{ services_data.0.text_2 }}
										</p>
										<p>
											{{ services_data.0.text_3 }}
										</p>
										<div class="entry-thumbnail services_carousel">
											<img class="product-image--featured big_image" id="featured"
												src="{{ services_data.0.image.url }}"
												alt="toaster" />
											<div class="owl-slider">
												<div id="carousel_product" class="owl-carousel product-image--list">
													<div class="item item-selected">
														<img class="owl-lazy"
															data-src="{{ services_data.0.image.url }}"
															alt="">
													</div>
                                                    {% for s in services_image %}
													<div class="item">
														<img class="owl-lazy"
															data-src="{{ s.image.url }}"
															alt="">
													</div>
													{% endfor %}
												</div>
											</div>
										</div>
										<p>

                                                {{ services_data.0.text_4 }}

										</p>
										<div class="row">
											<div class="col-sm-12">
												<ul class="list2 checklist grey	">
                                                    {% for e in services %}
													<li>{{ e.services }}</li>
                                                    {% endfor %}
												</ul>
											</div>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</section>
{% endblock %}