{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Spare Parts</title>{% endblock %}
{% block content %}
	<section class="page_breadcrumbs cs background_cover section_padding_top_40 section_padding_bottom_40">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2>Ehtiyat hissələri</h2>
							<ol class="breadcrumb">
								<li>
									<a href="{% url 'spare_part_app:spare_part_url' %}">
										Ana Səhifə
									</a>
								</li>
								<li class="active">Ehtiyat hissələri</li>
							</ol>
						</div>
					</div>
				</div>
			</section>

			<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="filters text-center">
								<a href="{% url 'spare_part_app:spare_part_url' %}" class="selected">Hamısı</a>
                                {% for c in categories %}
								<a href="{% url 'spare_part_app:spare_part_filter_view' name=c.category_name %}">{{c.category_name }}</a>
								{% endfor %}
							</div>
							<div class="isotope_container isotope row masonry-layout columns_margin_top_0 columns_margin_bottom_30">
                                {% for s in product_list %}
								<a href="{% url 'spare_part_app:spare_part_detail_url' category_name=s.category_id product_id=s.id %}" class="isotope-item col-lg-6 col-md-6 col-sm-12 bmw_door">
									<div
										class="vertical-item content-padding gallery-extended-item with_border text-center">
										<div class="item-media">
											<img src="{{ s.image.url }}" alt="">
											<div class="media-links">
												<div class="abs-link overlay_price">
													<span class="price">Qiymət: </span>
													<h3 class="price">{{ s.price }}</h3>
												</div>
											</div>
										</div>
										<div class="item-content top-zebra-border product_item">
											<h3 class="title">{{ s.product_name }}</h3>
											<p>Categories: <span>{{ s.category_id }}</span></p>
											<p class="content">{{ s.about_product }}</p>
										</div>
									</div>
								</a>
							    {% endfor %}
                            </div>
							<div class="row topmargin_20">
								<div class="col-sm-12 text-center">
									<img src="{% static 'project_static/img/loading.png' %}" alt="" class="fa-spin" />
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
{% endblock %}