{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Spare Parts Detail</title>{% endblock %}
{% block content %}
         <section class="page_breadcrumbs cs background_cover section_padding_top_40 section_padding_bottom_40">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2>Ətraflı</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{% url 'home_app:home_url' %}">
                                        Ana Səhifə
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'spare_part_app:spare_part_url' %}">
                                        Ehtiyat hissələri
                                    </a>
                                </li>
                                <li class="active">Ehtiyyat hissələri ətraflı</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <section class="detail_product ls section_padding_top_100 section_padding_bottom_75">
                <div class="container">
                    <div class="info_block">
                        <div class="left-container">
                            <div class="product-image--container">
                                <img class="product-image--featured" id="featured"
                                    src="{{ product_detail.0.image.url }}" alt="toaster" />
                                <div class="owl-slider">
                                    <div id="carousel_product" class="owl-carousel product-image--list">
                                        <div class="item item-selected">
                                            <img class="owl-lazy"
                                                data-src="{{ product_detail.0.image.url }}"
                                                alt="">
                                        </div>
                                        {% for p in product_images %}
                                        <div class="item">
                                            <img class="owl-lazy"
                                                data-src="{{ p.image.url }}"
                                                alt="">
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-container">
                            <div>
                                <h1 class="title">{{ product_detail.0.product_name }}</h1>
                                <h2 class="subtitle subtitle-container">{{ product_detail.0.category_id }}</h2>
                            </div>
                            <span>
                                <p>Qiymət:
                                    <span class="emphasize">{{ product_detail.0.price }}</span>
                                </p>
                            </span>
                            <div>
                                <h2 class="title">{{ product_detail.0.product_description }}</h2>
                                <div class="subtitle-container">
{#                                    <span>Size: 1-Pack</span>#}
{#                                    <span>|</span>#}
{#                                    <span>Color: Black</span>#}
                                </div>
                                <p>
                                    {{ product_detail.0.about_product }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}